/*header*/
header{
	background: url(../img/bg-header.jpg);
	height: 9rem;
}

header .phone{
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	font-size: 1.8rem;
	text-align: right;
}

header .mail{
	font-size: 2rem;
}

header .mail span{
	color: #417ebc;
}

header .city-text{
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 600;
	color: #417ebc;
}

header .city-map{
	display: inline-block;
}

/*about*/
.about{
	background: url(../img/top-block-bg.png);
	height: 8rem;
}

 .about-title {
	display: inline-block;
	font-size: 3rem;
}

 .about-description{
	display: inline-block;
	margin-top: 1rem;
	font-size: 1.4rem;
}

/*nav*/
.navigation .block-title{
	background: url(../img/nav-bg.png) no-repeat;
	width: 100%;
	height: 5.8rem;
}

.block-title .products{
	display: block;
	padding-top: 1rem;
	text-align: center;
	font-size: 1.8rem;
}

.navigation .block{
	background: url(../img/nav-list-bg.png) no-repeat;
	background-size: contain;
	height: 5rem;
	width: 100%;
}

.panel-heading a{
	color: #333;
}

.panel-heading a:hover{
	color: #999;
	text-decoration: none;
}

.panel-body a{
	display: block;
	color: #333;
	font-size: 14px;
}

.panel-body a:hover{
	color: #333;
}

.nav-title{
	display: block;
	padding-top: 1.5rem;
	text-align: center;
	font-size: 2.2rem;
}

/*section-1*/
.section-1{
	background: url(../img/block-1-bg.jpg);
}

.content-block{
	display: inline-block;
}

/*for accordion (сброс настроек)*/
.panel{
	background: transparent !important;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{
	background-color: #fff;
		border: 1px #999 solid;
}

.panel-group .panel+.panel{
	margin-top: 0 !important;
}
.panel-heading{
	padding:0 !important;
}

.panel .panel-default{
	border: none !important;
}

.panel-default .panel-heading{
	background-color: transparent !important;
	
}

.panel-group .panel{
	border: none;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{
	border-top: none !important;
}

/*products in section-1*/
.content-block-1{
	margin-top: 8rem;
}

.product-title{
	font-size: 1.4rem;
	font-weight: 600;
	text-align: left;
}

/*products in section-2*/
.section-2{
	background: url(../img/block-2-bg.png);
}
.delimiter{ /*разделитель*/
	background: url(../img/top-block-bg.png);
	height: 8rem;
}

.content-block-2{
	margin-top: 1rem;
}

.content-block-1 span{
	font-weight: 600;
}
.content-block-2 span{
	font-weight: 600;
}

/*level buttons*/
.levels{
	margin-top: 3rem;
	margin-bottom: 4rem;
	text-align: center;
}

.levels button{
	color: #fff;
	font-size: 1.4rem;
	background-color: #00639e;
	border:none;
	border-radius: 3px;
}

.levels button:hover{
	background-color: #2286C1;
	transition: 0.2s;
}

/*section-3*/
.top-delimetr{
	background: url(../img/top-block-bg.png);
	height: 8rem;
}
.section-3{
	margin-top: -2rem;
	background:url(../img/block-3-bg.jpg);
}

.delimiter h3{
	margin-top: 1.7rem;
	font-size: 2.4rem;
	
}

.delimiter .text-blue{
	color: #00639e;
	font-size: 1.4rem;
	margin-top: 2rem;
	
}

.delimiter .text-text{
	color: #333;
	font-size: 1.4rem;
	margin-top: 2rem;
	
}

.our-examples{
	width: 100%;
	background: linear-gradient(#216F9D, #2684BC);
	border-radius: 5px;
}

.our-examples h3{
	margin-top: 1rem;
	padding: 3rem 1rem;
	color: #fff;
	font-size: 2.4rem;
	text-align: center;
}

.our-examples img{
	display: block;
	margin: 0 auto;
	padding-bottom: 1rem;
	width: 95%;
}

.content-block-3{
	margin-top: 5rem;
}

.content-block-3 span{
	font-weight: 600;
}

/*footer*/
footer{
	background: url(../img/bg-footer.jpg);
}

.on-map h3{
	margin: 3rem 0;
	padding-bottom: 3rem;
	border-bottom: 2px #333 solid;
	font-size: 2.2rem;
	font-weight: 600;
	text-align: center;
}

.contacts p{
	display: inline-block;
	font-size: 2rem;
	padding-bottom: 3rem;
}

.contacts img{
	display: inline-block;
}

.icons{
	display: inline-block;
	margin-left: 2rem;
}

.icon-vk{
	widh: 2.5rem;
	height: 2.5rem;
}

.icon-inst{
	width: 2.5rem;
	height: 2.5rem;
}